name: Qt 6 on macOS

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.3.*'
        host: 'mac'
        target: 'desktop'
        arch: 'clang_64'

    - name: configure
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: cmake -DQT_BUILD_EXAMPLES:BOOL=ON

    - name: make
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: cmake --build .
