name: Qt 6 on macOS

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest

    strategy:
      matrix:
        qt_version: ['6.8.*', '6.10.*']

    steps:
    - uses: actions/checkout@v3

    - name: Setup Ninja
      uses: ashutoshvarma/setup-ninja@master

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: ${{ matrix.qt_version }}
        host: 'mac'
        target: 'desktop'
        arch: 'clang_64'

    - name: configure
      run: cmake -S ${{ github.workspace }} -B build -DQT_BUILD_EXAMPLES:BOOL=ON -DINPUT_headersclean=OFF -G Ninja

    - name: make
      run: cmake --build build
