name: Qt 6 on Windows

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        qt_version: ['6.8.*', '6.10.*']

    steps:
    - uses: actions/checkout@v3

    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1

    - name: Setup MSVC Developer Command Prompt
      uses: TheMrMilchmann/setup-msvc-dev@v2.0.0
      with:
        arch: x64

    - name: Setup Ninja
      uses: ashutoshvarma/setup-ninja@master

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: ${{ matrix.qt_version }}
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2022_64'

    - name: configure
      run: cmake -S ${{ github.workspace }} -B build -DQT_BUILD_EXAMPLES:BOOL=ON -G Ninja

    - name: make
      run: cmake --build build
